<div class="card">
  <div class="flex justify-content-center flex-wrap card-container yellow-container">
      <div class="flex align-items-center justify-content-center ">
        <p-card header="Simple Card" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
          <ng-template pTemplate="header">

          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      </p-card>
      </div>
      <div class="flex align-items-center justify-content-center ">
        <p-card header="Simple Card" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
          <ng-template pTemplate="header">

          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      </p-card>
        </div>
      <div class="flex align-items-center justify-content-center ">
        <p-card header="Simple Card" [style]="{'width': '20rem', 'margin-bottom': '2em'}">
          <ng-template pTemplate="header">

          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      </p-card>
        </div>
  </div>
</div>
