
<!-- <app-acompanhamento-form></app-acompanhamento-form> -->
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success  p-button-sm" (click)="openNew()"></button>
       <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteacompanhamento()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block "></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-button-sm"></button>
    </ng-template>
</p-toolbar>
<p-table #dt [value]="acompanhamentos" [rows]="10" [paginator]="true" [globalFilterFields]="['descricao', 'tipoAcompanhamento']" responsiveLayout="scroll"
[(selection)]="selectedAcompanhamento" [rowHover]="true" dataKey="id"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
 <ng-template pTemplate="caption">
  <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Acompanhamentos</h5>
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
      </span>
  </div>
</ng-template>
<ng-template pTemplate="header">
  <tr>
      <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
      <th pSortableColumn="kg">kg <p-sortIcon field="kg"></p-sortIcon></th>
      <th pSortableColumn="tipoAcompanhamento">Tipo <p-sortIcon field="tipoAcompanhamento"></p-sortIcon></th>
      <th pSortableColumn="valorUn">Valor Unitário <p-sortIcon field="valorUn"></p-sortIcon></th>
      <th pSortableColumn="valorTotal">Valor Total <p-sortIcon field="valorTotal"></p-sortIcon></th>
      <th></th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-acompanhamento>
  <tr>
      <td>
          <p-tableCheckbox [value]="acompanhamento"></p-tableCheckbox>
      </td>
      <td>{{acompanhamento.id}}</td>
      <td>{{acompanhamento.descricao}}</td>
      <td>{{acompanhamento.kg}}</td>
      <td>{{acompanhamento.tipoAcompanhamento}}</td>

      <td>{{acompanhamento.valorUn }}</td>
      <td>{{acompanhamento.valorTotal }}</td>
      <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editacompanhamento(acompanhamento)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteacompanhamento(acompanhamento)"></button>
      </td>
  </tr>
</ng-template>
<ng-template pTemplate="summary">
  <div class="flex align-items-center justify-content-between">
      Total de Acompanhamentos {{acompanhamentos ? acompanhamentos.length : 0 }} acompanhamentos.
  </div>
</ng-template>
</p-table>
</div>
<p-dialog [(visible)]="acompanhamentoDialog" [style]="{width: '450px'}" header="Cadastro de Acompanhamento " [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="formgrid grid">
      <div class="field col">
          <label for="descricao">Descrição</label>
          <input type="text" pInputText class="p-inputtext-sm" id="descricao"  [(ngModel)]="acompanhamento.descricao"  required autofocus />
      </div>
      <div class="field col">
          <label for="kg">KG</label>
          <input type="text" pInputText id="kg" [(ngModel)]="acompanhamento.kg" required autofocus />
            <small class="p-error" *ngIf="submitted && !acompanhamento.kg">Kg é obrigatório!.</small>
      </div>
  </div>
      <div class="field">
          <label for="tipo">Tipo de Acompanhamento</label>
          <p-dropdown inputId="tipo"
          [options]="statuses" placeholder="Selecione"
          [(ngModel)]="acompanhamento.tipoAcompanhamento"
          optionValue="descricao"
          optionLabel="descricao">
          </p-dropdown>
      </div>

      <div class="formgrid grid">
          <div class="field col">
              <label for="valorUn">Valor Unitário</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">R$</span>
              <p-inputNumber id="valorUn" mode="currency"[(ngModel)]="acompanhamento.valorUn" currency="BRL" locale="pt-BR"></p-inputNumber>
              </div>
            </div>
          <div class="field col">
            <label for="valorTotal">Valor Total</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">R$</span>
            <p-inputNumber id="valorTotal" mode="currency" [(ngModel)]="acompanhamento.valorTotal" currency="BRL" locale="pt-BR"></p-inputNumber>
        </div>
        </div>
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveacompanhamento()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
